<footer id="footer">
  <div class="container">
    <h3>Qianya Lin</h3>
    <p>Portfolio website powered by Astro and deployed on GitHub Pages.</p>
    <div class="copyright">
      &copy; Copyright <strong><span>Qianya Lin</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
